@tailwind base;
@tailwind components;
@tailwind utilities;


.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    height: 600px;
}

.video-container::after {
    padding-top: 75%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}


.setBackground {
    /* background-image: url('../img/BackGround-1.png'); */
    /* background-color: #d1aeae; */
    height: '100vh';
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    z-index: -1;
    /* opacity: 0.1; */
  }

 .setBackground-Content {
    height: '100%';
    width: '100%';
    background-color: '#d1aeae'
  }


  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  


  .sidebar-design{
    background:linear-gradient(180deg, #924ED6 33.87%, rgba(36, 121, 221, 0.82) 131.56%);
  }